:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

.card .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#daniel {
    grid-area: daniel;
    background-color: var(--moderate-violet);
    color: var(--white);
    position: relative; 
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top right 30px;
}

.id {
    display: flex;
    gap: 15px;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    height: 100%;
    margin: 0;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    background-color: var(--light-gray);
    display: grid;
    align-items: center;    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    grid-template-areas: 
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    gap: 30px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    max-width: 100%;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 400;
}

.testimonial {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

#daniel .title, #jonathan .title, #patrick .title {
    color: var(--white);
    opacity: 0.5;
}

#daniel {
    grid-area: daniel;
    background-color: var(--moderate-violet);
    color: var(--white);
}

#jonathan {
    grid-area: jonathan;
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

#jeanette {
    grid-area: jeanette;
    background-color: var(--white);
}

#jeanette .card-blockquote, #kira .card-blockquote {
    color: var(--very-dark-grayish-blue);
}

#jeanette .title, #kira .title {
    color: var(--very-dark-grayish-blue);
}

#jeanette .testimonial, #kira .testimonial {
    color: var(--very-dark-grayish-blue);
}

#jeanette .name, #kira .name {
    color: var(--very-dark-grayish-blue);
}

#patrick {
    grid-area: patrick;
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
}

#kira {
    grid-area: kira;
    background-color: var(--white);
}

.card-blockquote {
    opacity: 0.7;
}

/* Tablet: 2-Column Layout */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr; /* 2 columns */
        grid-template-areas: 
            "daniel daniel"
            "jonathan kira"
            "jeanette patrick";
    }
}

/* Mobile: 1-Column Layout */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* 1 column */
        grid-template-areas: 
            "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
    }
}



.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
    background: #f8f8f8;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
